
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using WebApplication2.Models
@model employee
<h1> Employee Details</h1>

<div>
    Employee ID:@Model.Id<br/>
    Employee Name:@Model.Name<br/>
    Employee Job:@Model.job<br/>
    Employee Salary:@Model.sal<br/>
    Employee Department Number:@Model.deptid<br/>
</div>
<hr/>
<a href="/Employee/Index">Back to List</a>