@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>    EMPLOYEE DETAILS</h1>
    <table cellpadding="10", border="1">
    <tr>
    <th>EmpId</th>
    <th>Empname</th>
    <th>Empjob</th>
    <th>Empsalary</th>
    <th>Empdeptno</th>
    </tr>
    <tr>    
    <td>1022</td>
    <td>Jack</td>
    <td>SoftwareEngineer</td>
    <td>50000</td>
    <td>    1</td>
    </tr>
    <tr>    
    <td>1023</td>
    <td>Joe</td>
    <td>SoftwareEngineer</td>
    <td>40000</td>
    <td> 2</td>
    </tr>
    <tr>    
    <td>1024</td>
    <td>Mike</td>
    <td>IT Trainee</td>
    <td>29000</td>
    <td>    1</td>
    </tr>
    <tr>    
    <td>1025</td>
    <td>Luke</td>
    <td>Manager</td>
    <td>90000</td>
    <td> 5</td>
    </tr>
    <tr>
    <td>1026</td>
    <td>Jay</td>
    <td>Intern</td>
    <td>5000</td>
    <td> 9</td>
    </tr></table>
}
